[package]
name = "clap-cargo"
version = "0.3.0"
description = "Re-usable CLI flags for `cargo` plugins"
keywords = ["cargo"]
categories = ["development-tools::cargo-plugins"]
repository = "https://github.com/crate-ci/clap-cargo"
documentation = "https://docs.rs/clap-cargo"
readme = "README.md"
authors = ["Ed Page <eopage@gmail.com>"]
edition = "2018"
license = "MIT"

[package.metadata.docs.rs]
features = [ "cargo_metadata" ]

[badges]
azure-devops = { project = "crate-ci", pipeline = "clap-cargo" }
codecov = { repository = "crate-ci/clap-cargo" }

[features]

[dependencies]
structopt = "0.3.0"
cargo_metadata = { version = "0.9", optional = true }
doc-comment = "0.3"
